body {
    font-family: 'Quicksand' !important;
}

nav {
    height: 150px;
    background-color: white;
}

.nav-link {
    color: #5C9B26 !important;
    font-size: 30px;
    margin: auto;
    padding-left: 10%;
    margin-top: 35px;
}

.nav-text {
    justify-content: space-around;
}
.logos{
    width: 100%;
}
.logos ul{
    width: 80%;
    margin: auto;
    text-align-last: justify;
    padding: 0%;
}
.logos ul li{
    display:inline;
    list-style-type: none;
}

.collapse>ul>li>a>b {margin-right: 10px;}

.rojo{background-color: #E72A4F;}
.t-darkrojo{color: #AD243F;}
.gris{background-color: #737373;}

.verde{background-color: #5C9B26;}
.t-verde{color: #5C9B26;}

.products{color: white;}
.br{border-right: 1px solid #5C9B26;}


.banner{
    margin-top: 180px;
    margin-bottom: 100px;
    height: 600px;
}

.banner-img{
    background-image: url(img/cont-page-interno/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 800px; */
    min-height: 600px;
}
.banner-img-dos{
    background-image: url(img/cont-page-interno/niña.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 800px; */
    min-height: 600px;
}

.banner-cont{
    color: #fff;
    margin-left: 55px;

}

.banner-cont h2{
    font-weight: 500;
    padding: 5px 10px;
    display: inline;
    text-align: center;
}

.banner-cont p{
    font-size: 24px;
    width: 32rem;
    line-height: 40px;
    margin-top: 35px;
}

.info-section{
    margin-bottom: 80px;
}

.conventional-cont{
display: block;
margin: auto;
}

.conventional-cont h3{
    font-size: 34px;
    line-height: 36px;
}

.conventional-cont span{
    color: #737373;
    font-size: 16px;
    line-height: 24px;
}

.specific-box{

    margin: 15px 10px;
    padding: 0 10px;
}

.specific-box .specific-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.specific-box .specific-cont .link-item{
}

.specific-box .specific-cont .number{

    font-size: 14px;
    line-height: 18px;
}

.specific-box .specific-cont p{
    color: #fff;
    font-size: 18px;
}

footer p{
    color: #fff;
}

