body {
    font-family: 'Quicksand' !important;
}

nav {
    height: 150px;
    background-color: white;
}

.nav-link {
    color: #5C9B26 !important;
    font-size: 30px;
    margin: auto;
    padding-left: 10%;
    margin-top: 35px;
}

.nav-text {
    justify-content: space-around;
}
.logos{
    width: 100%;
}
.logos ul{
    width: 80%;
    margin: auto;
    text-align-last: justify;
    padding: 0%;
}
.logos ul li{
    display:inline;
    list-style-type: none;
}

.collapse>ul>li>a>b {
    margin-right: 10px;
}
.rojo{
    background-color: #E72A4F;
}
.verde{
    background-color: #5C9B26;
}
.products{
    color: white;
}


.banner{
    height: 800px;
}

.banner-img{
    background-image: url(img/cont-page-interno/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    max-height: 800px;
}